
<template name="about">
    {{>header}}
        <div class="container">

      <div class="starter-template">
          {{>tajemnice}}
      </div>
    </div>
</template>

<template name="tajemnice">
        <div class="panel panel-default tejemnicePanel">
        <div class="panel-heading">Zameldowani na {{tajemnica.currentMonth}}</div>
        <div class="panel-body">
            {{#if currentUser}}
            {{#if tajemnica.joinNextMonth}}
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Zamelduj sie na {{tajemnica.currentMonth}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="join">ZAMELDUJ</a></li>
              </ul>
            </div>

            <div class="alert alert-danger join-info" role="alert">
                <a href="#" class="alert-link">Jeszcze nie dołaczyles do rozanca na {{tajemnica.currentMonth}}.</a>
            </div>
            {{/if}}
            {{/if}}
        <table class="table">
            <tbody>
            {{#each tajemnica.registeredNextMonth}}
            <tr><td>{{username}}</td></tr>
            {{/each}}

            </tbody>
        </table>
        </div>
    </div>
</template>
